body {
    background-color:lightgrey;
}
h1 {
    font-size: 40px;
    font-family: "Arial";
    text-align: center;
}

.textbox {
    margin: auto;
    border: 3px solid black;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    height: 200px;
    width: 1000px;
}

p {
    font-family: "Arial";
    color: blue;
    font-size: 30px;
    text-align: left;
}

.buttonborder {
    text-align: center;
    padding: 30px;
}

#button {
    height: 50px;
    width: 100px;
    font-family: "Arial";
    font-size: 20px;
    border-radius: 5px;
}