body {
    background-color: lightgrey;
    margin: 0;
}
h1 {
    font-size: 50px;
    font-family: "Segoe UI",Arial,sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    font-size: 20px;
    font-family: "Segoe UI",Arial,sans-serif;
    color: grey;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

#abouttitle {
    font-size: 30px;
    font-family: "Segoe UI",Arial,sans-serif;

}
#description {
    font-size: 20px;
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 20px;
}
.textbox {
    margin: auto;
    border: 3px solid black;
    border-radius: 15px;
    padding: 0px 30px;
    height: 200px;
    width: 1000px;
    background-color: white;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.midpart {
    text-align:center;
}

.inputarea {
    display: inline-block
}
.inputbox {
    margin: auto;
    margin-top: 30px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 0px 30px;
    height: 100px;
    width: 200px;
    background-color: white;
    vertical-align: top;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.stopwatch {
    margin-top: 10px;
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
.morsechart {
    display: inline-block;
    width: 25%;
    margin-top: 30px;
    font-size: 20px;
    font-family: "Segoe UI",Arial,sans-serif;
    text-align: center;
    overflow:hidden;
    vertical-align: top;
}
#paragraph {
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 30px;
    text-align: left;
}

#timer {
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.buttonborder {
    text-align: center;
    padding: 30px;
}

#button {
    height: 50px;
    width: 200px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 18px;
    border-radius: 5px;

}

.spacedown {
    background-color: lightgreen;
}

.spaceup {
    background-color: white;
}
.topnav {
    background-color: green;
    font-size: 20px;
    font-family: "Segoe UI",Arial,sans-serif;
    padding: 10px 0px;
    overflow: hidden;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.topnav a {
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    text-align: center;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

#correct {
    background-color: lightgreen;
    font-weight: bold;
}

#wrong {
    background-color: lightpink;
    font-weight: bold;
}

#input {
    font-family: "Courier";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#image {
    width: 75%;
    height: 75%;
}
.visible {
    display: show;
    margin: 0px;
}
.hidden {
    display: none;
}