<!DOCTYPE html>
<html>
<head>
    <title> MorseTyper</title> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body onload="changeHighlight('{{sentence}}');">
    <h1> Practice Morse Codes</h1>
    <div class="textbox" id="textbox">  
    </div>
    <div class="buttonborder"> 
        <button id="button" type="button" onclick="changeHighlight('{{sentence}}')"> click </button>
    </div>
    <script src="{{ url_for('static', filename='changehighlight.js') }}"></script>
    <script src="{{ url_for('static', filename='spaceinput.js') }}"></script>
</body>